ul {
  margin: 0;
  padding:0;
  list-style: none;
}

ul li.job {
  border: 1px solid black;
  padding: 20px;

}

ul li.job h3 {
  margin: 0;
}

/* navigation bar */

#nav_title{
  color:#6ce2ff;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.nav-linked{
 padding:8px;
 color: #c4c4c4;
 display: block;
 text-decoration: none;
}

.nav-linked:hover,
.nav-linked:active{
  text-decoration: none;
  color: #ffffff;
}